:host {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.parentContainer {
  display: flex;
  flex-direction: column;
  width: 350px;
}

/* hide scrollbar */
.dropdown::-webkit-scrollbar {
  width: 0 !important
}

.dropdownBtn {
  height: 30px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 0px 0px 1px #ccc inset;
  background-color: #e6e6e6;
  cursor: pointer;
}

.bottomRadius {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropShadow {
  box-shadow: 0px 0px 0px 1px #ccc inset;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdownBtn>a {
  height: 30px;
  line-height: 30px;
  padding: 5px;
}

.dropdownBtn:focus {
  outline: 0;
}

.dropdown {
  box-shadow: 0px 0px 0px 1px #ccc inset;
  background-color: #e6e6e6;
  width: 350px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* transition: height 5s; */
}

.dropdownContent {
  list-style-type: none;
  height: 25px;
  line-height: 25px;
  box-shadow: 0px 0px 0px 1px #ccc inset;
  padding: 5px;
}

.dropdownContent:hover {
  background-color: #d9d9d9;

}

.clearBtn {
  align-self: flex-end;
  cursor: pointer;
  font-size: .75rem;
  padding: 5px;
}